body {
  padding: 20px;
}

[aria-hidden="true"] {
  display: none;
}

[role="tablist"],
[role="tabpanel"] {
  width: 80%;
}

[role="tablist"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  > * {
    display: inline-block;
    margin-right: 10px;
  }

  [role="tab"] {
    position: relative;
    top: 2px;
    border: 2px solid #000;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    color: #555;
    background: #fff;
    padding: 10px 30px;
    
    &[aria-selected="true"] {
      border-bottom: 2px solid #fff;
      color: red;
    }
  }
}

[role="tabpanel"] {
  padding: 30px 50px;
  color: #333;
  border: 2px solid #000;
  background-color: #fff;
}